body {
    font-family: 'Arial', sans-serif;
    background-color: #e9c46a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #b8c0ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

h1 {
    color: #001d3d;
    text-align: center;
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
}

input[type="text"]:focus {
    border-color: #007bff;
}

.addbtn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.addbtn:hover {
    background-color: #0077b6;
}

ol {
    padding-left: 0;
}

.item-container{
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s;
}

.dltbtn {
    padding: 5px 10px;
    background-color: #ff4d4d; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dltbtn:hover {
    background-color: #e60000;
}

.clearbtn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #ff7f50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.clearbtn:hover {
    background-color: #ff5e3a;
}



.updtbtn {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #069843;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.updtbtn:hover {
    background-color: #116333;
}

.edtbtn {
    padding: 5px 10px;
    background-color: #5151e8fc; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edtbtn:hover {
    background-color: #1111b9;
}

.btndiv{
    display: flex;
    gap: 10px;
}